.multiplott {
	  width: 450px;
	  margin: 0 auto;
}


.multiplotttitle {
	background-color: #dfe5d6;
    font-family: 'windsong';
    font-weight: 900;
    color: #808f5e;
    letter-spacing: 6px;
    text-transform: lowercase;
    text-shadow: -1.2px -1.2px 0 rgba(255, 255, 255, 1), 1.2px -1.2px 0 rgba(255, 255, 255, 1), -1.2px 1.2px 0 rgba(255, 255, 255, 1), 1.2px 1.2px 0 rgba(255, 255, 255, 1);
    font-size: 50px;
    text-align:center; }

.multiplotchar {
	  margin-top: 10px;
	  display: flex;
}

.multiplotcharn {
    position:absolute;
    font-family:'raleway';
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 1), 1px -1px 0 rgba(255, 255, 255, 1), -1px 1px 0 rgba(255, 255, 255, 1), 1px 1px 0 rgba(255, 255, 255, 1);
    font-size:20px;
    max-width:500px;
    margin-top:-15px;
    margin-left:5px;
    color:#999;
    font-weight:700; }

.multiplotbor {
    background: #dee4d5;
    border: 10px solid #e4e4e4;
	  width: 100px;
	  height: 100px;
	  overflow: hidden;
}

.multicharimg {
	  width: 100px; height: 100px;
}
.multicharimg img { 
    width: 100px; 
    height: 100px; 
    -webkit-filter: grayscale(1);
    filter: grayscale(100%);
    opacity: 0.7;
    transition: 700ms; 
}

.multicharimg img:hover {    
    -webkit-filter: grayscale(.1);
    filter: grayscale(10%);
    opacity: 1; }

.charplotters {
    margin-left: 10px;
	  background-color: transparent;
	  padding: 15px;
    margin-top:10px;
	  font-family: merriweather;
    font-size:11px;
	  width: 300px;
    text-align:justify;
    margin-right:10px;
}

.charplotters2 span {
    font-family: raleway;
    text-transform: uppercase;
    font-weight:700;
    display:block;
    font-size:11px;
    text-align:right;
    margin-bottom:10px;
}
.tempestwrite p {
	  margin: 2px 0;
}

.tempestwrite p:last-child {
	  margin-bottom: 0;
}

.charplotters2 {
	  height: 100px;
	  overflow: auto;
}


#multipl-JUPITER .multiplotcharn { color:#007d1a; }
#multipl-JUPITER .charplotters2 span { color:#007d1a; }

#multipl-NEPTUNE .multiplotcharn { color:#20ad9f; }
#multipl-NEPTUNE .charplotters2 span { color:#20ad9f; }

#multipl-MERCURY .multiplotcharn { color:#0093c7; }
#multipl-MERCURY .charplotters2 span { color:#0093c7; }

#multipl-URANUS .multiplotcharn { color:#29489a; }
#multipl-URANUS .charplotters2 span { color:#29489a; }

#multipl-PLUTO .multiplotcharn { color:#7722aa; }
#multipl-PLUTO .charplotters2 span { color:#7722aa; }

#multipl-SATURN .multiplotcharn { color:#a72565; }
#multipl-SATURN .charplotters2 span { color:#a72565; }

#multipl-MARS .multiplotcharn { color:#ca272a; }
#multipl-MARS .charplotters2 span { color:#ca272a; }

#multipl-VENUS .multiplotcharn { color:#ee4b90; }
#multipl-VENUS .charplotters2 span { color:#ee4b90; }
